@model LoginViewModel
@{
    Layout = "_Layout";
}

<div>
    <div>
        <form action="Login" method="post">
            <div class="mb-2">
                @Html.DisplayNameFor(x => x.Login):
                @Html.TextBoxFor(x => x.Login)
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div class="mb-2">
                @Html.DisplayNameFor(x => x.Password):
                @Html.TextBoxFor(x => x.Password, htmlAttributes: new { type = "password" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>
    <div>
        <a class="no-decoration" href="/User/Registration">No account?</a>
    </div>
</div>