@model UserProfileViewModel
@{
    Layout = "_Layout";
}

<div class="m-3">
    <div class="mb-2">
        @Html.DisplayNameFor(x => x.Login):
        @Html.DisplayFor(x => x.Login)
    </div>
    <div class="mb-2">
        @Html.DisplayNameFor(x => x.Name):
        @Html.DisplayFor(x => x.Name)
    </div>
    <div class="mb-2">
        @Html.DisplayNameFor(x => x.Role):
        @Html.DisplayFor(x => x.Role)
    </div>
    <div class="mb-2 history">
        @foreach (var item in Model.Booking)
        {
            <div class="apartment-element">
                <div class="apartment-info">
                    <div>
                        @Html.HiddenFor(x => item.Id)
                    </div>
                    <div class="apartment-info-element">
                        @Html.DisplayNameFor(x => x.Booking.First().ArrivalDate)
                        @item.ArrivalDate
                    </div>
                    <div class="apartment-info-element">
                        @Html.DisplayNameFor(x => x.Booking.First().DepartureDate)
                        @item.DepartureDate
                    </div>
                    <div class="apartment-info-element">
                        @Html.DisplayNameFor(x => x.Booking.First().Apartment.Info)
                        @if (string.IsNullOrEmpty(item.Apartment.Info))
                        {
                            @TitleResource.ApartmentNoInfo
                        }
                        else
                        {
                            @item.Apartment.Info
                        }
                    </div>
                    <div class="apartment-info-element">
                        @Html.DisplayNameFor(x => x.Booking.First().Apartment.RoomsCount)
                        @item.Apartment.RoomsCount
                    </div>
                    <div class="apartment-info-element">
                        @Html.DisplayNameFor(x => x.Booking.First().Apartment.RoomType)
                        @item.Apartment.RoomType
                    </div>
                    <div class="apartment-info-element">
                        @Html.DisplayNameFor(x => x.Booking.First().Apartment.Cost)
                        @item.Apartment.Cost
                    </div>
                </div>
                <div>
                    @if (item.Deniable)
                    {
                        <div>
                            <button class="btn btn-denger" onclick="document.location='/Apartment/DenyBooking?bookingId=@item.Id'">Deny</button>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>