@model UserProfileViewModel
@{
    Layout = "_Layout";
}

<div class="m-3">
    <div class="mb-2">
        @Html.DisplayNameFor(x => x.Login):
        @Html.DisplayFor(x => x.Login)
    </div>
    <div class="mb-2">
        @Html.DisplayNameFor(x => x.Name):
        @Html.DisplayFor(x => x.Name)
    </div>
    <div class="mb-2">
        @Html.DisplayNameFor(x => x.Role):
        @Html.DisplayFor(x => x.Role)
    </div>
    <div class="mb-2 history">
        @foreach (var item in Model.Booking)
        {
            <div class="apartment-element">
                @Html.Partial("_apartmentPartial", item.Apartment)
                @Html.DisplayNameFor(x => x.Booking.First().ArrivalDate)
                @item.ArrivalDate
                @Html.DisplayNameFor(x => x.Booking.First().DepartureDate)
                @item.DepartureDate
                <div class="interaction-buttons">
                    <div class="interaction-buttons-inner">
                        @if (item.Deniable)
                        {
                            <button class="btn btn-danger" onclick="document.location='/Apartment/DenyBooking?bookingId=@item.Id'">Deny</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>