@model RegistrationViewModel
@{ 
    Layout = "_Layout";
}

<div>
    <div>
        <form action="Registration" method="post">
            <div>
                @Html.DisplayNameFor(x=>x.Name):
                @Html.TextBoxFor(x=>x.Name)
                @Html.ValidationMessageFor(x=>x.Name)
            </div>
            <div>
                @Html.DisplayNameFor(x => x.Login):
                @Html.TextBoxFor(x => x.Login)
                @Html.ValidationMessageFor(x => x.Login)
            </div>
            <div>
                @Html.DisplayNameFor(x => x.Password):
                @Html.TextBoxFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div>
                @Html.DisplayNameFor(x => x.PasswordConfirm):
                @Html.TextBoxFor(x => x.PasswordConfirm)
                @Html.ValidationMessageFor(x => x.PasswordConfirm)
            </div>
            <div>
                <button type="submit">Ok</button>
            </div>
        </form>
    </div>
    <div>
        <a href="/User/Login">Have an account?</a>
    </div>
</div>