@model BookingApartmentViewModel
@{
    Layout = "_Layout";
}

<div>
    <form action="BookingApartment" method="post">
        <div>
            @Html.HiddenFor(x=>x.IdApartment)
        </div>
        @* display info in BookingApartmentViewModel.ApartmentViewModel *@
        <div>
            @Html.DisplayNameFor(x => x.ArrivalDate)
            @Html.TextBoxFor(x => x.ArrivalDate, new { @type = "date" })
            @Html.ValidationMessageFor(x => x.ArrivalDate)
        </div>
        <div>
            @Html.DisplayNameFor(x => x.DepartureDate)
            @Html.TextBoxFor(x => x.DepartureDate, new { @type = "date" })
            @Html.ValidationMessageFor(x => x.DepartureDate)
        </div>
        <div>
            <button type="submit">Ok</button>
        </div>
    </form>
</div>